.display {
	margin: 0 auto;
	position: relative;
	height: 200px;
	width: 400px;
	transform-style: preserve-3d;
	transition: transform 1s;
}
.display-panel {
	position: absolute;
	height: 100%;
	width: 100%;
	border: thin solid black;
	transition: transform 1s;
	border-radius: 5px 5px 5px 5px;
}

.display > [data-coming='1'] {
	transform: translateX(300px) rotateY(75deg);
}
.display > [data-gone='1'] {
	transform: translateX(-300px) rotateY(-75deg);
}
.display > [data-gone]:not([data-gone='1']) {
	transform: translateX(-340px) rotateY(-90deg);
}
.display > [data-coming]:not([data-coming='1']) {
	transform: translateX(340px) rotateY(90deg);
}